/* Define some types -*/
.subtleHyperlink {
    color: unset;
    text-decoration: none;
}

/* Adjust hyper links */
.regHyperlink {
    color: unset;
    text-decoration: none;
}

/* Add underline on hover */
.regHyperlink:hover {
    color: unset;
    text-decoration: underline; 
}