.content {
}
:root {
    --darkOfLogo: rgb(4,68,118);
    --LightOfLogo: rgb(179,217,225);
    --pageBackground: rgb(235, 254, 255);
    --toolbarBackground: rgb(0, 153, 255);
}

.aboutMeContainer {
    display:flex;
    background-color: var(--darkOfLogo);
    column-gap:1.3%;
    width:44%;
    margin: 0 auto;
    padding:.8%;
    border-radius:5%;
}

img[alt="portrait"] {
    border-color:black;
    border-style:groove;
    border-width:4%;
    border-radius:4%;
    width:50%;
    margin:0%;
    justify-content:right;
}

p[alt="portrait"] {
    text-align: center; 
    color: white;
    justify-self: left;
    font-size:1.62vw;
    line-height: 104%;
    width: 50%;
    margin:0%;
}
/* Mobile styles (max-width: 767px) */
@media (max-width: 600px) {


    h1 {
        font-size: 5vw;
    }
    p {
        font-size: 3.75vw;
    }
    img[alt="portrait"] {
        border-width:5%;
        border-radius:5%;
        width:50%;
    }
    p[alt="portrait"] {
        font-size:3vw;
        line-height: 104%;
        width: 50%;
    }
    .aboutMeContainer {
        column-gap:2%;
        width:80%;
        margin: 0 auto;
        padding:1.2%;
        border-radius:5%;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

/* Desktop/Tablet styles (min-width: 768px) */
@media (min-width: 601px) {

}