/* site colors */

:root {

    --darkOfLogo: rgb(4,68,118);
    --LightOfLogo: rgb(179,217,225);
    --pageBackground: rgb(235, 254, 255);
    --toolbarBackground: rgb(0, 153, 255);

}

/* Base styles (applied to all screen sizes) */
body, html { 
    /* remove all padding and margins */    
    margin:0;
    padding:0;
    height:100%;
    width:100%;

    /* set the background color */    
    background-color: var(--pageBackground);

    /*background-image: url("assets/bg8.png");
    background-size: 6%;
    background-repeat: repeat;
    image-rendering: pixelated;*/
}

/* set the color of the body 
body {
    font-size: 1vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}*/

/* Adjust header 2 */
h1 {
    text-align: center;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}


/* set the color of the paragraph */
p {
    /* formatting */
    width:60%;
    margin: 0 auto;
    text-align: center;
    font-size:1.62vw;
    line-height: 104%;
    font-family: Arial, Helvetica, sans-serif;

}
  
.spacer {
    height:25%;
}

/* Mobile styles (max-width: 767px) */
@media (max-width: 600px) {


    h1 {
        font-size: 3vw;
    }
    p {
        font-size: 2vw;
        width:80%;
    }


    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

/* Desktop/Tablet styles (min-width: 768px) */
@media (min-width: 601px) {

}